@model HelpForSick.WebUI.Frontend.Models.CreateArticleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>New Article</h2>
    <div class="container">
        <form method="post" style="width: 450px;">
            <table>
                <tr>
                    <td>
                        Title
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Title)
                        @Html.ValidationMessageFor(m => m.Title)
                    </td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Create article" />
        </form>
    </div>

