
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link href="~/Styles/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" type="text/css" />
    @*    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />*@
    <script src="~/Scripts/libs/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
    <script src="~/Scripts/libs/bootstrap/bootstrap.js" type="text/javascript"></script>
    <script src="~/Scripts/libs/wysihtml5/bootstrap-wysihtml5-0.0.2.js"></script>
    <script src="~/Scripts/pages/writeArticle.js" type="text/javascript"></script>
    <div class="container">
        <h2>Write article </h2>
        <form method="post" style="width: 450px;">
            <div class="my_container">
                <textarea id="htmlEditor" style="width: 900px; height: 600px; margin-left: 100px"></textarea>
                <div class="save-button-wrapper">
                    <input id="save-button" type="button" value="Save Formatted Text" />
                </div>


            </div>
        </form>
    </div>

